main {
    margin-top: 100px;
}
.news-container {
    margin: 2% 4%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
}